---
layout: front
---

<body>
  <div class="container">
    <h1 class='front-title'>Digital Democracy Lab</h1>
    <div class='navbar-fixed'>
      <ul>
        <li "float:left"><a href="# /">Home</a></li>
        <li><a href="/ddl_webdev/dev">Dev</a></li>
        <li><a href="/ddl_webdev/repo">Repo</a></li>
        <li><a href="/ddl_webdev/database">Database</a></li>
        <li><a href="/ddl_webdev/about">About</a></li>
      <ul>
    </div>
  </div>
  <header>

<div class="container" style="margin-bottom:50px">
  {% include intro.html %}
</div>

<div class="container">
  <h1>News</h1>
  <div class="blog-index" style="margin-bottom:50px">
    {% assign post = site.posts.first %}
    {% assign content = post.content %}
    {% include news/news_template.html %}
  </div>
</div>
</body>
